* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 50px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  max-width: 500px;
  margin: auto;
  padding: 50px;
}

.autocomplete-wrapper {
  position: relative;
}

.autocomplete-wrapper input {
  width: 100%;
  padding: 20px;
  border: 1px solid #bbb;
  font-size: 1.8em;
}

.results  {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  -webkit-padding-start: 0;  
}

.results li {
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px 20px;
  font-size: 1.3em;
  cursor: pointer;
}

.results li:hover,
.results li.selected {
  background: #f2f2f2;
}
